  <%= form_with(model: pin, local: true) do |form| %>
    <% if pin.errors.any? %>
      <div id="error_explanation" class="alert alert-secondary" role="alert">
        <h2>verifique los siguientes datos para continuar:</h2>
        <ul>
          <% pin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
        <%= form.label :title, 'Titulo' %>
        <%= form.text_field :title, class: 'form-control', placeholder:'Titulo' %>
    </div>
    <div class="form-group">
      <%= form.label :description, 'Descripción' %>
      <%= form.text_area :description, class: 'form-control', placeholder:'Descripción' %>
    </div>
    <div class="field custom-file form-group">
      <%= form.label :images, class: "custom-file-label" %>
      <%= form.file_field :images, multiple: true, class: "custom-file-input" %>
    </div>
    <% if @pin.images.attached? %>
      <div class="row mt-3">
        <% @pin.images.each do |image| %>
          <div class="col-6 col-md-2 text-center">
            <%= image_tag image, class: "w-100" %>
            <br>
            <%= link_to 'Remover', delete_image_pin_path(@pin, image), method: :delete, data: { confirm: '¿Está seguro?' }, class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="form-group mt-3">
      <%= form.submit 'Agregar', class: 'btn btn-primary' %>
    </div>
  <% end %>
