<div class="container mt-6">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Titulo:</strong>
        <%= @pin.title %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <strong>Descripción:</strong>
            </div>
            <div class="card-body">
              <%= @pin.description %>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <h2>holi</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="<%= @pin.image %>" class="img-fluid" alt="<%= @pin.title %>">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% if can? :update, @pin %>
        <%= link_to 'Edit', edit_pin_path(@pin), class: 'btn btn-secondary' %> |
      <% end %>
      <%= link_to 'Back', pins_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
