<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Imnagen:</strong>
  <%= @pin.image %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
